ion-content {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Asegurar que ocupe toda la pantalla */
  padding: 0;
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Esto hará que ocupe el 100% de la pantalla */
  flex-direction: column; /* Para alinear verticalmente la imagen, el título y el formulario */
}

.logo-image {
  width: 100px; /* Ajustar tamaño de la imagen */
  margin-bottom: 10px; /* Espacio debajo de la imagen */
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

ion-header {
  display: none; /* Ocultar el encabezado */
}

ion-title {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  margin-top: 10px;
  --background: #007bff; /* Color del botón */
  --border-radius: 5px; /* Bordes redondeados */
  width: 100%;
  text-transform: uppercase; /* Texto en mayúsculas */
  font-weight: bold;
}

ion-button:hover {
  --background: #0056b3; /* Color del botón al pasar el ratón */
}

ion-label {
  color: #333;
}

ion-button.google,
ion-button.facebook {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --background: transparent; /* Elimina el fondo del botón */
  --border-radius: 50%; /* Bordes redondos */
  width: 50px; /* Asegurar que el ancho y el alto sean iguales */
  height: 50px;
  --color: #333; /* Color por defecto del icono */
  font-size: 24px; /* Tamaño del icono */
  border: none; /* Elimina cualquier borde que esté afectando el botón */
  box-shadow: none; /* Elimina la sombra que puede estar haciendo que parezca ovalado */
  outline: none; /* Eliminar el borde azul al enfocar */
}

ion-button.google:hover,
ion-button.facebook:hover {
  --background: #f5f5f5; /* Color al pasar el ratón */
}

ion-button.google {
  --color: #db4437; /* Color del icono de Google */
}

ion-button.facebook {
  --color: #1877f2; /* Color del icono de Facebook */
}

.icon-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  gap: 20px; /* Espaciado entre los íconos */
  margin-top: 20px;
}
