<ion-content>
  <div class="change-password-container">
    <form (submit)="changePassword()">
      <div class="image-container">
        <img src="../../assets/img/login/412785.png" alt="Logo">
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña Actual</ion-label>
        <ion-input type="password" [(ngModel)]="currentPassword" name="currentPassword" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>

      <ion-button class="btn-cambiar" expand="block" type="submit">CAMBIAR CONTRASEÑA</ion-button>

      <!-- Botón de cancelar para regresar al home -->
    <ion-button class="btn-cancelar" expand="block" color="light" (click)="goBackToHome()">CANCELAR</ion-button>
    </form>
  </div>
</ion-content>
