<ion-header>
  <ion-toolbar>
    <ion-title>Validar Correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="validateEmail()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Validar correo y restablecer contraseña</ion-button>
    <ion-button expand="block" (click)="goToLogin()">Cancelar</ion-button>
  </form>
</ion-content>
